include _mixins.pug

+page_skeleton

        // ---------------------------------------------------------------------------------------------------------------------
        // Research projects 
        // ---------------------------------------------------------------------------------------------------------------------

        +section_title
            div(id="Research")
                | Research materials
        
        +summary
            | Here you can find publications and some additional material
            | related to my research projects.
            | If you are interested in publications metrics, see 
            +link("https://academic.microsoft.com/profile/f848263j-i89f-473g-8612-egg8jg82g744/VittorioErba/publication/search?q=Vittorio%20Erba&qe=%2540%2540%2540USER.PUBLICATIONS%253Db848263f-e89b-473c-8612-acc8fc82c744&f=&orderBy=0")
                |Microsoft Academic 
            | or 
            +link("https://scholar.google.com/citations?user=mUgeZ3YAAAAJ&hl=it")
                |Google Scholar
            | .
        
        .flex.flex-wrap.justify-around
            +float_box
                -   if (publications.length >= 1 )
                    small.f4.b Publications
                    br
                    table.f5.w-100.mw8.center(cellspacing='0')
                        thead
                            tr
                                th.fw6.bb.b--black-20.tr.pb3.pr3.bg-white
                        tbody.lh-copy
                            each item2 in publications
                                tr
                                    td
                                        .pv3.pr3.bb.b--black-20
                                            | #{item2.authors}
                                            br
                                            b #{item2.title}
                                            br
                                            | #{item2.journal}
                                            br
                                            +link(item2.url) #{item2.doi}
                -   else
                    | Not published yet, stay tuned!

            +float_box
                -   if (materials.length >= 1 )
                    small.f4.b Talks & Posters
                    br
                    table.f5.w-100.mw8.center(cellspacing='0')
                        thead
                            tr
                                th.fw6.bb.b--black-20.tr.pb3.pr3.bg-white(colspan=4)
                        tbody.lh-copy
                            +table_separator
                            each item2 in materials
                                tr
                                    +table_line
                                        .tc.tr-m.tr-l !{item2.when}
                                    - if (item2.where=="")
                                        +table_line_2 
                                            +link(item2.url)
                                                .b.tc !{item2.title}
                                    - else
                                        +table_line 
                                            .tc.tr-m.tr-l !{item2.where}
                                        +table_line 
                                            +link(item2.url)
                                                .b.tc.tl-m.tl-l !{item2.title}
                                    // +table_line
                                    //     .tc.tl-m.tl-l
                                    //         +link(item2.url)
                                    //             b !{item2.desc}
                                +table_separator
                -   else
                    | I haven't produced any material yet!

                br
                tr.dn.dt-row-m.dt-row-l
                    td.pv3.pr3.bb.b--black-20.tr(colspan='3')
                        hr.mw5.bb.b--dotted.bw1.b--black-10
                br

                -   if (software.length >= 1 )
                    small.f4.b Software
                    br
                    table.f5.w-100.mw8.center(cellspacing='0')
                        thead
                            tr
                                th.fw6.bb.b--black-20.tr.pb3.pr3.bg-white(colspan=4)
                        tbody.lh-copy
                            +table_separator
                            each item2 in software
                                tr
                                    +table_line
                                        .tc.tr-m.tr-l !{item2.when}
                                    - if (item2.where=="")
                                        +table_line_2 
                                            +link(item2.url)
                                                .b.tc !{item2.title}
                                    - else
                                        +table_line 
                                            .tc.tr-m.tr-l !{item2.where}
                                        +table_line 
                                            +link(item2.url)
                                                .b.tc.tl-m.tl-l !{item2.title}
                                    // +table_line
                                    //     .tc.tl-m.tl-l
                                    //         +link(item2.url)
                                    //             b !{item2.desc}
                                +table_separator
                -   else
                    | I haven't produced any material yet!


        // each item in projects.filter(function(e){return e.active})
        //     -   var page_url = "./"+item.page+".html"
        //     +banner_element
        //         +banner_text
        //             b.f3 #{item.name}
        //             br
        //             small.f4.black-70 #{item.collab}
        //             p.lh-copy.center.f4.black-70 !{item.description}

        //             .flex.flex-wrap.justify-around
        //                 +float_box
        //                     -   if ((publications.filter(function(e){return e.project == item.project;})).length >= 1 )
        //                         small.f4.b Relevant publications
        //                         br
        //                         table.f5.w-100.mw8.center(cellspacing='0')
        //                             thead
        //                                 tr
        //                                     th.fw6.bb.b--black-20.tr.pb3.pr3.bg-white
        //                             tbody.lh-copy
        //                                 each item2 in publications.filter(function(e){return e.project == item.project;})
        //                                     tr
        //                                         td
        //                                             .pv3.pr3.bb.b--black-20
        //                                                 | #{item2.authors}
        //                                                 br
        //                                                 b #{item2.title}
        //                                                 br
        //                                                 | #{item2.journal}
        //                                                 br
        //                                                 +link(item2.url) #{item2.doi}
        //                     -   else
        //                         | Not published yet, stay tuned!

        //                 +float_box
        //                     -   if ((materials.filter(function(e){return e.project == item.project;})).length >= 1 )
        //                         small.f4.b Useful material
        //                         br
        //                         table.f5.w-100.mw8.center(cellspacing='0')
        //                             thead
        //                                 tr
        //                                     th.fw6.bb.b--black-20.tr.pb3.pr3.bg-white(colspan=4)
        //                             tbody.lh-copy
        //                                 +table_separator
        //                                 each item2 in materials.filter(function(e){return e.project == item.project;})
        //                                     tr
        //                                         +table_line
        //                                             .tc.tr-m.tr-l !{item2.date}
        //                                         - if (item2.where=="")
        //                                             +table_line_2 
        //                                                 .tc !{item2.name}
        //                                         - else
        //                                             +table_line 
        //                                                 .tc.tr-m.tr-l !{item2.where}
        //                                             +table_line 
        //                                                 .tc.tl-m.tl-l !{item2.name}
        //                                         +table_line
        //                                             .tc.tl-m.tl-l
        //                                                 +link(item2.url)
        //                                                     b !{item2.desc}
        //                                     +table_separator
        //                     -   else
        //                         | I haven't produced any material yet!

        //             +float_clear

        // // ---------------------------------------------------------------------------------------------------------------------
        // // non active Research projects 
        // // ---------------------------------------------------------------------------------------------------------------------

        // +section_start
        //     +section_title
        //         div(id="oldResearch")
        //             | Old Research Projects

        //     each item in projects.filter(function(e){return !e.active})
        //         -   var page_url = "./"+item.page+".html"
        //         +banner_element
        //             +banner_text
        //                 b.f3 #{item.name}
        //                 br
        //                 small.f4.black-70 #{item.collab}
        //                 p.lh-copy.center.f4.black-70 !{item.description}

        //                 .flex.flex-wrap.justify-around
        //                     +float_box
        //                         -   if ((publications.filter(function(e){return e.project == item.project;})).length >= 1 )
        //                             small.f4.b Relevant publications
        //                             br
        //                             table.f5.w-100.mw8.center(cellspacing='0')
        //                                 thead
        //                                     tr
        //                                         th.fw6.bb.b--black-20.tr.pb3.pr3.bg-white
        //                                 tbody.lh-copy
        //                                     each item2 in publications.filter(function(e){return e.project == item.project;})
        //                                         tr
        //                                             td
        //                                                 .pv3.pr3.bb.b--black-20
        //                                                     | #{item2.authors}
        //                                                     br
        //                                                     b #{item2.title}
        //                                                     br
        //                                                     | #{item2.journal}
        //                                                     br
        //                                                     +link(item2.url) #{item2.doi}
        //                         -   else
        //                             | Not published yet, stay tuned!

        //                     +float_box
        //                         -   if ((materials.filter(function(e){return e.project == item.project;})).length >= 1 )
        //                             small.f4.b Useful material
        //                             br
        //                             table.f5.w-100.mw8.center(cellspacing='0')
        //                                 thead
        //                                     tr
        //                                         th.fw6.bb.b--black-20.tr.pb3.pr3.bg-white(colspan=4)
        //                                 tbody.lh-copy
        //                                     +table_separator
        //                                     each item2 in materials.filter(function(e){return e.project == item.project;})
        //                                         tr
        //                                             +table_line
        //                                                 .tc.tr-m.tr-l !{item2.date}
        //                                             - if (item2.where=="")
        //                                                 +table_line_2 
        //                                                     .tc !{item2.name}
        //                                             - else
        //                                                 +table_line 
        //                                                     .tc.tr-m.tr-l !{item2.where}
        //                                                 +table_line 
        //                                                     .tc.tl-m.tl-l !{item2.name}
        //                                             +table_line
        //                                                 .tc.tl-m.tl-l
        //                                                     +link(item2.url)
        //                                                         b !{item2.desc}
        //                                         +table_separator
        //                         -   else
        //                             | I haven't produced any material yet!

        //                 +float_clear


